{{- range .Values.applications }}

  {{- $destinationServer := .destinationServer }}
  {{- if not $destinationServer }}
    {{- $destinationServer = $.Values.spec.destination.server }}
  {{- end }}

  {{- $project := .project }}
  {{- if not $project }}
    {{- $project = $.Values.spec.project }}
  {{- end }}
  {{- if not $project }}
    {{- $project = "default" }}
  {{- end }}

  {{- $appSource := .source }}
  {{- if not $appSource }}
    {{- $appSource = $.Values.spec.source }}
  {{- end }}

  {{- range $key, $value := $.Values.spec.source }}
    {{- if not (hasKey $appSource $key) }}
      {{- $appSource = merge $appSource (dict $key $value) }}
    {{- end }}
  {{- end }}

  {{- if not $appSource.path }}
    {{- $appPath := printf "apps/%s" .name }}
    {{- $appSource = merge $appSource (dict "path" $appPath) }}
  {{- end }}

  {{- if not $appSource.targetRevision }}
    {{- $appSource = merge $appSource (dict "targetRevision" "main") }}
  {{- end }}

  {{- $appSyncPolicy := .syncPolicy }}
  {{- if not $appSyncPolicy }}
    {{- $appSyncPolicy = $.Values.spec.syncPolicy }}
  {{- end }}

  {{- if $.Values.spec.syncPolicy }}
    {{- range $key, $value := $.Values.spec.syncPolicy }}
      {{- if not (hasKey $appSyncPolicy $key) }}
        {{- $appSyncPolicy = merge $appSyncPolicy (dict $key $value) }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- $metadata := .metadata }}
  {{- if not $metadata }}
    {{- $metadata = $.Values.metadata }}
  {{- end }}

  {{- range $key, $value := $.Values.metadata }}
    {{- if not (hasKey $metadata $key) }}
      {{- $metadata = merge $metadata (dict $key $value) }}
    {{- end }}
  {{- end }}

  {{- if not $metadata.namespace }}
    {{- $metadata = merge $metadata (dict "namespace" "argocd") }}
  {{- end }}
  {{- if not $metadata.name }}
    {{- $metadata = merge $metadata (dict "name" .name) }}
  {{- end }}

---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  {{- range $key, $value := $metadata }}
  {{- if not (kindIs "map" $value) }}
  {{ $key }}: {{ $value }}
  {{- else }}
  {{ $key }}:
    {{- range $nestedKey, $nestedValue := $value }}
    {{ $nestedKey }}: {{ $nestedValue }}
    {{- end }}
  {{- end }}
  {{- end }}
spec:
  project: {{ $project }}
  destination:
    server: {{ $destinationServer }}
    namespace: {{ .namespace }}
  source:
    {{- range $key, $value := $appSource }}
    {{- if not (kindIs "map" $value) }}
    {{ $key }}: {{ $value }}
    {{- else }}
    {{ $key }}:
      {{- range $nestedKey, $nestedValue := $value }}
      {{ $nestedKey }}: {{ $nestedValue }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- if $appSyncPolicy }}
  syncPolicy:
    {{- range $key, $value := $appSyncPolicy }}
    {{- if not (kindIs "map" $value) }}
    {{ $key }}: {{ $value }}
    {{- else }}
    {{ $key }}:
      {{- range $nestedKey, $nestedValue := $value }}
      {{ $nestedKey }}: {{ $nestedValue }}
      {{- end }}
    {{- end }}
    {{- end }}
  {{- end }}
{{- end }}
